[submodule "submodules/llvm-project"]
	path = submodules/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
