# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Directories
/build
.DS_Store
